<!DOCTYPE html>
{% load resources %}
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% block head %}
    {% block meta %}{% endblock %}

    {% block bootstrap %}
      {% css 'css/bootstrap.min.css' %}
      {# {% js 'js/3party/bootstrap.min.js' %} #}
    {% endblock %}

    {% block global_css %}
      {% css 'css/global.css' %}
    {% endblock %}
    {% block css %}{% endblock %}

    {% block global_js %}
      <script src="http://fb.me/react-0.8.0.min.js"></script>
      <script src="http://fb.me/JSXTransformer-0.8.0.js"></script>

      {% js 'js/3party/qwest-0.5.4.min.js' %}
      {% js 'js/util.js' 'js/util/url.js' 'js/X.js' 'js/Store.js' %}
      {% js 'js/HistoryManager.js' %}
      {% jsx 'js/components.react.js' %}
    {% endblock %}
    {% block js %}{% endblock %}
  {% endblock %}
</head>
<body>
  {% block body %}{% endblock %}
  {% block body_js %}{% endblock %}
</body>
</html>
