<!DOCTYPE html>
{% load resources %}
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% block head %}
    {% block meta %}{% endblock %}
    {% block og_meta %}{% endblock %}

    {% block bootstrap %}
      {% css 'css/bootstrap.min.css' %}
      {% css 'css/typeaheadjs.css' %}
      {# {% js 'js/3party/bootstrap.min.js' %} #}
    {% endblock %}

    {% block global_css %}
      {% css 'css/global.css' %}
      {% css 'css/pinterest.css' %}
    {% endblock %}
    {% block css %}{% endblock %}

    {% block global_js %}
      <script type="text/javascript">
        // TODO: use a proper module management system
        MODULES = {};
        function require(moduleName) {
          if (moduleName in MODULES) {
            return MODULES[moduleName];
          }
          throw new Error('Required module "' + moduleName + '" does not exist!');
        }
      </script>

      {% js 'js/3party/react-with-addons.min.js' %}
      {% js 'js/3party/JSXTransformer.js' %}
      {% js 'js/3party/qwest-0.5.4.min.js' %}
      <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
      {% js 'js/3party/typeahead.bundle.min.js' %}

      {% js 'js/util.js' 'js/util/url.js' 'js/util/dom.js' 'js/X.js' 'js/Store.js' %}
      {% js 'js/HistoryManager.js' %}
      {% jsx 'js/components.react.js' %}
    {% endblock %}
    {% block js %}{% endblock %}
  {% endblock %}
</head>
<body>
  {% block body %}{% endblock %}
  {% block body_js %}{% endblock %}
</body>
</html>
