html, body {
  margin: 0;
}

html, body, .bkgnd {
  background-color: #f0f0e7;
}

.nodisplay {
  display: none !important;
}

.row {
  margin: 0;
}

.spinner {
  background: url('/static/img/spinner_32.gif') center center no-repeat;
  min-height: 66px;
  min-width: 66px;
}

@media (min-width: 992px) {
  .sticky-column {
    /*overflow-y: auto;*/
    position: fixed;
    top: 0;
    bottom: 0;
  }
}
