
.alternate-grid-row {
  height: 135px;
  overflow: hidden;
  position: relative;
}

.alternate-grid-item {
  opacity: 0;
  position: absolute;
}

.alternate-grid-animate .alternate-grid-item {
  left: 0;
  top: 0;
  -webkit-transition: top .7s, left .7s, width .7s, opacity .7s;
  -moz-transition: top .7s, left .7s, width .7s, opacity .7s;
  -o-transition: top .7s, left .7s, width .7s, opacity .7s;
  transition: top .7s, left .7s, width .7s, opacity .7s;
}
