.pinterest-container {
  position: relative;
}

.pinterest-item {
  position: absolute;
  opacity: 0;
}

.pinterest-animate .pinterest-item {
  left: 0;
  top: 0;
  -webkit-transition: left .7s, width .7s, height .7s, opacity .7s;
  -moz-transition: left .7s, width .7s, height .7s, opacity .7s;
  -o-transition: left .7s, width .7s, height .7s, opacity .7s;
  transition: left .7s, width .7s, height .7s, opacity .7s;
}
