.youtube-player-section {
  margin-top: 16px;
}

.youtube-player-container {
  float: left;
  line-height: 0;
  height: 0;
  padding-bottom: 60%;
  position: relative;
  width: 100%;
}

.youtube-player {
  height: 100%;
  width: 100%;
}

.youtube-player-absolute {
  position: absolute;
  top: 0;
}

.youtube-autoreplay,
.youtube-autoreplay input {
  cursor: pointer;
}

.youtube-title {
  clear: both;
}

.youtube-autoreplay {
  float: right;
  margin: 10px 0 10px 10px;
}

.youtube-autoreplay input {
  vertical-align: top;
}
