<!DOCTYPE html>
<html>
<head>
  <%block name="head">
    <title><%block name="title">${page_title}</%block></title>

    ## Default meta tags for all pages
    <%namespace name="meta" file="meta.html" import="og"/>

    ${og('site_name', site_info['name'])}
    % if page_title:
      ${og('title', page_title)}
    %endif

    % if page_url:
      ${og('url', page_url)}
    % endif

    % if page_image:
      ${og('image', page_image)}
    % endif

    <%block name="meta"/>

    <%block name="css"/>

    <%! import json %>
    <script>
      window.SiteInfo = ${json.dumps(site_info)};
    </script>
    <%block name="head_js"/>
  </%block>
</head>
<body>
  ${self.body()}
  <%block name="body_js"/>

  <%block name="google_analytics">
    <%include file="google-analytics.html" />
  </%block>
</body>
</html>
