<!DOCTYPE html>
<html>
<head>
  <%block name="head">
    <title><%block name="title"/></title>

    ## Default meta tags for all pages
    <%namespace name="meta" file="meta.html" import="og"/>
    ${og('site_name', site_name)}
    % if url:
      ${og('url', url)}
    % endif

    <%block name="meta"/>

    <%block name="css"/>

    <%block name="head_js"/>
  </%block>
</head>
<body>
  ${self.body()}
  <%block name="body_js"/>

  <%block name="google_analytics">
    <%include file="google-analytics.html" />
  </%block>

  <%block name="chat">
    <%include file="chat.html" />
  </%block>
</body>
</html>
