<!DOCTYPE html>
<html>
<head>
  <%block name="head">
    <title><%block name="title"/></title>

    <%block name="meta"/>

    <%block name="css"/>

    <%block name="global_js">
      <script type="text/javascript">
        // TODO: use a proper module management system
        MODULES = {};
        function require(moduleName) {
          if (moduleName in MODULES) {
            return MODULES[moduleName];
          }
          throw new Error('Required module "' + moduleName + '" does not exist!');
        }
      </script>
    </%block>

    <%block name="head_js"/>
  </%block>
</head>
<body>
  ${self.body()}
  <%block name="body_js"/>
</body>
</html>
