<%inherit file="base.html"/>
<%namespace name="meta" file="meta.html" import="og"/>

<%block name="meta">
   ${og('description', video['desc'])}
</%block>

<%block name="head_js">
  ## jQuery is required for typeahead.js
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
</%block>

<%block name="body">
  <div id="reactpage"></div>
</%block>

<%! import json %>

<%block name="body_js">
  <script type="application/javascript">
    var FromServer = {
      initialVideo: ${json.dumps(video)},
      autoplay: ${'true' if autoplay else 'false'}
    };

    var DOM = {
      reactPage: document.getElementById('reactpage')
    };
  </script>

  % for entry in jsentries:
    <script src="/build/${entry}"></script>
  % endfor
</%block>
