{% load resources %}

{% with player_id='ytplayer' title_id='video_title' %}
  <div class="youtube-aligner">
    <div class="youtube-player-container" style="width:640px;height:390px;">
      <div id="{{ player_id }}" class="youtube-player"></div>
    </div>

    <label class="youtube-autoreplay">
      <input type="checkbox" onchange="Event.fire('youtube.autoreplay', this.checked);" />
      Auto Replay
    </label>

    <h1 id="{{ title_id }}" class="youtube-title" dir="auto">{{ video.get_title }}</h1>
  </div>

  <script type="text/javascript">
    {% include 'youtube/js/player.js' with player_id=player_id title_id=title_id video=video %}
  </script>
{% endwith %}
