{% extends 'youtube/base.html' %}

{% block title %}{{ video.get_title }}{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-7">
      {% block main %}
        {% include 'youtube/player.html' with video=video %}
      {% endblock %}
    </div>
    <div class="col-md-5 right-side">
      {% block secondary %}
        {% with snippet_list_id='suggestions' %}
          <div class="search-box">
            {% include 'youtube/search-box.html' with list_id=snippet_list_id %}
          </div>

          <div id="{{ snippet_list_id }}">
            {% include 'youtube/snippet-list.html' with video_list=related %}
          </div>

          <script type="text/javascript">
            {% include 'youtube/js/snippets.js' with snippet_list_id=snippet_list_id %}
          </script>
        {% endwith %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
