.youtube-aligner {
  display: inline-block;
  width: 642px; /* 2px for the borders of the ".ytplayer-container" */
}

.ytplayer-container {
  border: 1px solid #70706C;
  line-height: 0;
}

.ytplayer {
  background: url('/static/img/spinner.gif') center center no-repeat;
  width: 640px;
  height: 390px;
}

.youtube-autoreplay,
.youtube-autoreplay input {
  cursor: pointer;
}

.youtube-title {
  clear: both;
}

.youtube-autoreplay {
  float: right;
  margin: 10px 0 10px 10px;
}

.youtube-autoreplay input {
  vertical-align: top;
}
