.search-box-container {
  padding-bottom: 12px;
  position: relative;
}

.search-box-input {
  padding-right: 32px;
}

.search-icon {
  color: #b0b0b0;
  font-size: 14px;
  line-height: 1.42;
  margin: 7px 12px;
  position: absolute;
  right: 0;
  top: 0;
}


@media (min-width: 992px) {
  .sticky-search-box-section {
    padding-top: 16px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
  }

  .search-box-container {
    border-bottom: 1px dashed #d0d0d0;
  }

  .search-box-nub-hider {
    position: absolute;
    top: 0;
    left: 100%;
    width: 15px;
    height: 100%;
  }
}

@media (max-width: 991px) {
  .sticky-search-box-section {
    padding: 16px 0 0 0;
  }
}
