.search-box-container {
  position: relative;
}

.sticky-centered-search-box {
  padding: 16px;
  width: 100%;
}

.sticky-centered-search-box .search-box-nub-hider {
  display: none;
}

.search-box-input {
  padding-right: 32px;
}

.search-icon {
  color: #b0b0b0;
  font-size: 14px;
  line-height: 1.42;
  margin: 7px 12px;
  position: absolute;
  right: 0;
  top: 0;
}


@media (min-width: 992px) {
  .sticky-search-box-section {
    padding-bottom: 12px;
    padding-top: 16px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
  }

  .sticky-centered-search-box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
  }

  .sticky-centered-search-box .search-box-container {
    margin: 0 auto;
    width: 50%;
  }

  .search-box-nub-hider {
    position: absolute;
    top: 0;
    left: 100%;
    width: 15px;
    height: 100%;
  }
}

@media (max-width: 991px) {
  .sticky-search-box-section {
    padding: 16px 0 0 0;
  }
}
