.snippet-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.snippet-item {
  margin-bottom: 6px;
  overflow: hidden;
  zoom: 1;
}

.snippet-item:focus,
.snippet-item:hover {
  background-color: #fafaf4;
}

.snippet-link {
  display: block;
  overflow: hidden;
  zoom: 1;
  max-height: 90px;
  padding-left: 120px;
  position: relative;
}

.snippet-link,
.snippet-link:focus,
.snippet-link:hover {
  text-decoration: none;
}

.snippet-image-container,
.snippet-image {
  max-height: 90px;
  width: 120px;
}

.snippet-image-container {
  display: inline-block;
  float: left;
  left: 0;
  position: absolute;
  top: 0;
}

.snippet-image {
  float: none;
  margin: 0;
}

.snippet-duration {
  background-color: #000;
  border-radius: 3px;
  bottom: 0;
  color: #fff;
  font-size: 11px;
  left: 0;
  line-height: 1;
  margin: 4px;
  opacity: .75;
  padding: 4px;
  position: absolute;
}

.snippet-content {
  margin-left: 4px;
  padding-top: 24px;
  position: relative;
}

.snippet-title {
  height: 20px;
  left: 0;
  margin-bottom: 4px;
  margin-top: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
}

.snippet-excerpt {
  color: #333;
  max-height: 66px; /* 90px- 24px */
  overflow-y: auto;
}
