.snippet-list-container {
  background: #f0f0e7;
  min-height: 120px;
  position: relative;
}

.snippet-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.snippet-list-spinner {
  background-color: #f0f0e7;
  background-position: center 30px;
  opacity: 0.7;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.snippet-item {
  background: #fff;
  border-radius: 0 4px 4px 0;
  box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 4px;
  position: relative;
  text-align: start;
}

.snippet-item:focus,
.snippet-item:hover {
  background-color: #fafaf4;
  box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.15);
}

.snippet-item-selected,
.snippet-item-selected:hover,
.snippet-item-selected:focus {
  background-color: #def;
  pointer-events: none;
  box-shadow: none;
}

.snippet-link {
  display: block;
  overflow: hidden;
}

.snippet-link,
.snippet-link:focus,
.snippet-link:hover {
  text-decoration: none;
}

.snippet-image-container,
.snippet-image {
  position: relative;
  height: 90px;
  width: 120px;
}

.snippet-image-container {
  float: left;
  margin-right: 4px;
}

.snippet-duration {
  background-color: #000;
  border-radius: 3px;
  bottom: 0;
  color: #fff;
  font-size: 11px;
  left: 0;
  line-height: 1;
  margin: 4px;
  opacity: .75;
  padding: 4px;
  position: absolute;
}

.snippet-content {
  padding: 0 4px;
}

.snippet-title {
  font-size: 14px;
  font-weight: bold;
  margin: 4px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 1px 1px 1px #fff;
  white-space: nowrap;
}

.snippet-excerpt {
  color: #333;
  font-size: 11px;
  margin: 0;
  overflow: hidden;
  word-wrap: break-word;
}


@media (min-width: 992px) {
  .snippet-list-container {
    margin: 72px 0 0 0;
    min-height: 120px;
  }

  .snippet-list-spinner {
    background-position: center 80px;
    position: fixed;
    bottom: 0;
    top: 0;
  }

  .snippet-nub {
    border-color: transparent transparent transparent #def;
    border-style: solid;
    border-width: 43px 0 43px 30px; /* (90{snippet-height} - 4{border-radius}) / 2 */
    left: 100%;
    margin-left: -1px;
    position: absolute;
    top: 2px;
    width: 0;
  }
}
